<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>JFA6mLAFMSbo04cjtN+LSOXqEGEkbw2nGIZ8uwdVIDihFvA/UDceM5TF4QVemVqWfFhMoiU/bBz90+xxvdGGgq5tKQsl717RgtPVQLv2aZYOaFdcY1T9sq2L98aFqvWeFs5939KIZPRqCnyAE4tOF5efSpiAIfOTEo2OKRr8x0yMeN/zSxqqB/ErBLer09ZJss2xOwzxF6ZPR2OksJJt99JOJdfk2PVWStajaW1lArRWnZLJqZXMA4SK7C6JRHgm+K4eYxLpB2Jv1zYPBXWfVAMWVc8DMMSis6eSWVz8V0GM63Qgn5BlyLcuvJGyncWIPRE4h399mgpR/jO5a4g6lw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>IzTUBgP4PFCrh2AZFueaqxHnpAY6m+TJsItG7WEJhY7Sfsr1Le/WK3H06MiKyk8y</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>